body {
    background-color: rgb(80, 69, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 345px;
    height: 500px;
    box-shadow: 1px 1px 10px 2px black;
    background-color: rgb(0, 55, 255);
    border-radius: 10px;
}

.display {
    position: relative;
    margin: 20px 25px;
    height: 100px;
    background-color: rgba(64, 64, 64, 0.841);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
}

.currentOperand {
    position: absolute;
    right: 0;
    padding: 8px;
    font-size: 36px;
}

.buttonContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 270px;
    margin-left: 25px;
    margin-right: 15px;
    row-gap: 8px;
}

button {
    background-color: rgb(0, 55, 255);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 66px;
    border: 2px solid darkblue;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 3px darkblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bottom {
    display: grid;
    height: 64px;
    grid-template-columns: auto auto auto;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 9px;
    column-gap: 4px;
}

#equals {
    width: 144px;
}

.button:hover {
    transition: background-color .75s ease-out;
    background-color: rgb(130, 162, 248);
    transform: scale(0.92);

}

.equal:hover {
    transition: background-color .75s ease-out;
    background-color: rgb(125, 248, 125);
}

.del:hover {
    background-color: rgb(249, 104, 104);
    transition: background-color .75s ease-out;
}